* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*font-family:font-family: 'Rubik', sans-serif;*/ /*VEROOOO*/

:root {
  --color-texto-menu: #4a4a4a;
  --color-fondo: #3cdbc0;
  --color-diversidad: #ffffff;
} /*para poner variable .h1{ color: var (--nombrevariable);}*/

/*HEADER*/
.header {
  background-color: var(--color-diversidad);
  width: 100%; /*asegurate ue no es width:100vw*/
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon {
  width: 155px;
  height: auto;
  margin-top: 10px;
}

.list {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 13px;
  list-style: none;
}
a.link {
  color: var(--color-texto-menu);
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

/*MAIN*/

.main {
  color: var(--color-diversidad);
  height: 100vh;

  background-color: var(--color-fondo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/**/
@media all and (min-width: 780px) {
  /*tamaño para una tablet para arriba*/
}
